@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Epilogue';
  src: url('/fonts/epilogue/Epilogue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('/fonts/epilogue/Epilogue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DM_Sans/DMSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #000000;
  --blue-1: #0176CE;
  --blue-3: #08265F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
